html,
body,
.spectre {
	font-family: Exo2, system-ui !important;
	font-size: 20px;
	margin: 0;
}

/* SLIDY fix */
.slidy {
	display: grid !important;
}

.slidy-thumbnails {
	display: flex !important;
}

.slidy-slides,
.slidy-slide {
	margin: 0 !important;
}

.spectre .columns {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100%!important;
}

.spectre .columns .column {
	padding: 0;
}

.spectre .goal ul li,
.spectre ol li {
	margin-top: 0px !important;
}

.spectre .goal h1 {
	margin-bottom: 0 !important;
}

.codejar-wrap {
	height: 100%;
}

.codejar-linenumbers {
	background-color: transparent !important;
	mix-blend-mode: normal !important;
	font-size: 24px !important;
	line-height: 1.5 !important;
	color: #f6f6f6 !important;
	z-index: 1;
	width: auto !important;
	height: 100% !important;
	padding-top: 0px !important;
	font-family: Exo2 !important;
}

.codejar-wrap code[class*=language-],
.codejar-wrap pre[class*=language-] {
	color: #25292E !important;
	background: #FFFFFF !important;
	font-size: 24px !important;
	line-height: 1.5 !important;
	text-shadow: none !important;
	overflow-wrap: anywhere !important;
	overflow-y: inherit !important;
	white-space: pre-wrap !important;
	height: 100% !important;
	font-family: Exo2 !important;
	padding-top: 0;
	margin: 0.5em 0;
	overflow: auto;
}

.codejar-wrap .token.punctuation {
	color: #999 !important;
}

/* .codejar-wrap .token.property, .codejar-wrap .token.selector {
    color: #25292E!important
} */
