.spectre .columns {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.spectre .columns .column {
    padding: 0;
}

.spectre .goal ul li,
.spectre ol li {
    margin-top: 0px !important;
}

.spectre .goal h1 {
    margin-bottom: 0 !important;
}